{{> head}}


{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>GRAN DONY</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat error maxime quas ut veniam voluptatem odit
            ipsa impedit sint! Quam, et similique! Cumque, eius. Reiciendis recusandae dolor nihil libero suscipit?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/dibujo3.png" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}